<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sort or 'Splode</name>
    <description>
        A tribute to the 'Sort or 'Splode' minigame in the SM64DS and New Super Mario Bros. games
    </description>
    <author email="jacl179692@gmail.com" href="https://github.com/Kokozord">
        Kokozord
    </author>
    <icon src="www/img/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
